body::after
{
	content: '';
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-image: url("pic/background.png");
	background-size: cover;
	z-index: -1;
}
a
{
	text-decoration: none;
}
#self
{
	position: absolute;
	width: 500;
	height:300;
	top:50%;
	left:50%;
	margin-left: -250px;
    margin-top: -260px;
	z-index: 10;
}
#photo
{
	width: 250;
	height: 250;
	margin:auto;
}
#name
{
	width: 350;
	margin:auto;
}
#fname
{
	margin: 0;
	font-size:80px;
	font-weight:lighter;
	color:#68B9FF;
}
img.photo
{
	border-radius: 20px
}
div.icon
{
	width: 50px;
	float: left;
}
div.infor
{
	float: left;
	height: 80px;
	margin-left: 70px;
	margin-top: 23px;
}
.findme
{
	padding: 10px;
	background: rgba(255,255,255,0.4);
	border-radius: 12px;
}
#github
{
	position: fixed;
  	left: 20%;
  	top: 20%;
}
#githref
{
	color:black;
}
#githref:active
{
	color:#399891;
}
#bangumi
{
  	left: 27%;
  	top: 70%;
	position: fixed;
}
#bgmhref
{
	color:#d4237a;
}
#bgmhref:active
{
	color:#EA81B4;
}
#CSDN
{
	position: fixed;
  	left: 65%;
  	top: 62%;
}
#csdnhref
{
	color:#E35B5B;
}
#csdnhref:active
{
	color:#E98383;
}
