@font-face
{ 
	font-family: "Bradley Hand ITC"; 
	src:url("font/Bradley Hand ITC TT Italic.ttf"); 
}
html
{
	height: 100%;
	width: 100%;
}
body
{
	margin:0;
	height: 100%;
	width: 100%;
}
body::after
{
	content: '';
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-image: url("pic/background.png");
	background-size: cover;
	z-index: -1;
}
#firstpage
{
	height: 90%;
	width: 100%;
}
a
{
	text-decoration: none;
}
#self
{
	position: absolute;
	width: 500px;
	height:300px;
	top:50%;
	left:50%;
	margin-left: -250px;
    margin-top: -260px;
	z-index: 2;
}
#photo
{
	width: 250px;
	height: 250px;
	margin:auto;
	margin-bottom: 0;
}
#name
{
	width: 390px;
	margin:auto;
}
#fname
{
	margin: 0;
	font-size:90px;
	font-weight: lighter;
	font-family: Bradley Hand ITC;
	color:#006AC6;
}
img.photo
{
	box-shadow: 7px 7px 4px #63BBBD;
	margin: -5px;
	border-radius: 20px;
	border-width: 5px;
	border-style: solid;
	border-color: #DAE7F8;
	transition: 1s;
}
img.photo:hover
{
	box-shadow: 10px 10px 6px #63BBBD;
	transition: 1s;
}
div.icon
{
	width: 110px;
	float: left;
}
div.infor
{
	float: left;
	height: 80px;
	margin-left: 10px;
	margin-top: 23px;
}
.findme
{
	padding: 10px;
	background: rgba(255,255,255,0.4);
	border-radius: 12px;
	position: absolute;
	transition: 1.2s;
}
.findme:hover
{
	-ms-transform:rotate(-7deg);
	-webkit-transform:rotate(-7deg);
	transform:rotate(-7deg);
	transition: all 1.2s;
}
#github
{
  	left: 15%;
  	top: 20%;
}
#githref
{
	color:black;
}
#githref:active
{
	color:#399891;
}
#bangumi
{
  	left: 27%;
  	top: 70%;
}
#bgmhref
{
	color:#d4237a;
}
#bgmhref:active
{
	color:#EA81B4;
}
#CSDN
{
  	left: 65%;
  	top: 62%;
}
#csdnhref
{
	color:#E35B5B;
}
#csdnhref:active
{
	color:#E98383;
}
#secondpage
{
	position:absolute;
	width: 100%;
	height: 110%;
	margin: 0;
	z-index: 3;
}
#secondpage::after
{
	background-color: rgba(237,237,237,0.9);
	content: '';
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
#downdown
{
	width: 215px;
	height:36.38px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	font-size:30px;
	font-weight: lighter;
	font-family:'HanWangYenThin-2e237545d8242d2';
	color:#3BA4FF;
}
#downnote
{
	margin-left:35px;
	height:36.38px;
	padding-top: 4px;
}
.cover
{
	height: 300px;
}
.title
{
	width: 210px;
	font-size:18px;
	font-weight: lighter;
	font-family:'HanWangYenThin-2e237545d8242d2';
	color:#3BA4FF;
}
li.bangumilist
{
	width: 206px;
	height: 360px;
	list-style-type:none;
	float:left;
	margin-right: 16px;
	margin-left: 16px;
}
h1#blist
{
	margin-left: 20px;
	font-weight: 300;
	font-family:'HanWangYenThin-2e237545d8242d2';
	color:#3BA4FF;
}