#firstpage
{
	height: 93%;
	width: 100%;
}
a
{
	text-decoration: none;
}
#self
{
	position: absolute;
	width: 100px;
	height:380px;
	padding-right: 140px;
	z-index: 2;
	image-rendering: -webkit-optimize-contrast;
	/*image-rendering: optimize-contrast;
	image-rendering: crisp-edges;*/
}
#photo
{
	width: 250px;
	height: 250px;
	margin:auto;
	margin-bottom: 0;
}
#name
{
	width: 390px;
	margin-left:-65px;
}
#fname
{
	margin: 0;
	font-size:90px;
	font-weight: lighter;
	padding-bottom: -60px;
	font-family: Bradley Hand ITC;
	color:#006AC6;
	animation:color 5s infinite;
	animation-timing-function: linear;
}
@keyframes color
{
	0%
	{
		color: #2F5995;
	}
	33%
	{
		color: #7393BF;
	}
	66%
	{
		color: #608fd2;
	}
	100%
	{
		color: #2F5995;
	}
}
img.photo
{
	box-shadow: 7px 7px 4px #5CA7FB;
	margin: -5px;
	border-radius: 20px;
	border-width: 5px;
	border-style: solid;
	border-color: #DAE7F8;
	transition: 0.5s;
}
img.photo:hover
{
	box-shadow: 10px 11px 6px #557DAD;
	transition: 0.5s;
}
div.icon
{
	width: 110px;
	float: left;
}
div.infor
{
	float: left;
	height: 80px;
	margin-left: 10px;
	margin-top: 23px;
}
.findme
{
	padding: 10px;
	background: rgba(255,255,255,0.19);
	border-radius: 12px;
	position: absolute;
	transition: 1.2s;
}
.findme:hover
{
	padding: 15px;
	opacity: 1;
	transition: all 1.2s;
}
#github
{
  	left: 10%;
  	top: 20%;
}
#githref
{
	color:black;
}
#githref:active
{
	color:#399891;
}
#bangumi
{
  	left: 15%;
  	top: 40%;
}
#bgmhref
{
	color:#d4237a;
}
#bgmhref:active
{
	color:#EA81B4;
}
#CSDN
{
  	left: 20%;
  	top: 60%;
}
#csdnhref
{
	color:#E35B5B;
}
#csdnhref:active
{
	color:#E98383;
}
#other
{
	font-size: 25px;
	padding: 20px;
	list-style-type:none;
	background: rgba(255,255,255,0.28);
	width: 300px;
	position: absolute;
	top:10%;
	right:10%;
	border-radius: 20px;
}
.blueblack
{
	color:black;
}
.blueblack:hover,
.blueblack:active
{
	color:rgba(41,41,165,1.00)
}