#foot
	{
		padding-left:15%;
		padding-right:15%;
		padding-top:8px;
		padding-bottom:8px;
		margin-top:20px;
		width:70%;
		background:rgba(255,255,255,0.28);
		border-radius: 10px;
	}
	.footh
	{
		width:200px;
		margin-bottom:10px;
		padding-bottom:10px;
		border-bottom-style: solid;
		border-bottom-color: black;
		border-bottom-width: thin;
	}
.other
	{
		font-size: 18px;
		width:25%;
		list-style-type:none;
		float: left;
		padding:0;
	}