#secondpage
{
	border-radius: 30px;
	width: 93%;
	margin:auto;
	z-index: 3;
	background-color: rgba(237,237,237,0.64);
	height:430px;
}
#downdown
{
	width: 215px;
	height:36.38px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	font-size:30px;
	font-weight: lighter;
	font-family:'HanWangYenThin-2e237545d8242d2';
	color:#225887;
}
#downnote
{
	margin-left:3px;
	height:36.38px;
	padding-top: 2px;
}
#myself
{
	float: left;
	list-style-type:none;
	margin:0;
	padding-left:50px;
	padding-bottom:30px;
}
.coloregg
{
	color:rgba(237,237,237,0);
}